/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/
@import url("../../../fast.fonts.com/t/11020.css?apiType=css&amp;projectid=dc25025d-cde6-4d40-8d12-25b3d098d78f");
@font-face{
font-family:"Memphis LT W01 Bold";
src:url("../fonts/c125952d-a4fd-4349-bc9b-fd935897685686d7.eot?iefix") format("eot");}
@font-face{
font-family:"Memphis LT W01 Bold";
src:url("../fonts/c125952d-a4fd-4349-bc9b-fd935897685686d7.eot?iefix");
src:url("../fonts/b7dcb861-4dfa-4b8c-b576-c9eea5f48c96.html") format("woff"),url("../fonts/e492e062-6fef-427a-9a81-020ff99a121f.ttf") format("truetype"),url("../fonts/33166e5c-d5a3-4343-b702-45c734a71396.html#33166e5c-d5a3-4343-b702-45c734a71396") format("svg");
}
@font-face{
font-family:"MemphisLTW01-BoldItalic";
src:url("../fonts/0cbadb40-6937-4e39-b8bb-c0ec5aa5eb7f86d7.eot?iefix") format("eot");}
@font-face{
font-family:"MemphisLTW01-BoldItalic";
src:url("../fonts/0cbadb40-6937-4e39-b8bb-c0ec5aa5eb7f86d7.eot?iefix");
src:url("../fonts/bad5210b-2fed-479f-8e45-d9c2276e5edb.html") format("woff"),url("../fonts/6e31c78d-11ce-469e-b612-35c689325e4e.ttf") format("truetype"),url("../fonts/5bd74c8d-e63c-4212-91f3-4d6c63e06bf2.html#5bd74c8d-e63c-4212-91f3-4d6c63e06bf2") format("svg");
}
@font-face{
font-family:"MemphisLTW01-ExtraBold";
src:url("../fonts/7663d3a8-4938-4e51-bc93-e499d000aa7786d7.eot?iefix") format("eot");}
@font-face{
font-family:"MemphisLTW01-ExtraBold";
src:url("../fonts/7663d3a8-4938-4e51-bc93-e499d000aa7786d7.eot?iefix");
src:url("../fonts/cd65984d-25da-4e1d-a06e-fc5c0b854294.html") format("woff"),url("../fonts/6d934244-2508-4a7e-90ee-91988f384c89.ttf") format("truetype"),url("../fonts/ca380843-8339-419f-b9ad-05724e5b01f9.html#ca380843-8339-419f-b9ad-05724e5b01f9") format("svg");
}
@font-face{
font-family:"Memphis LT W01 Light";
src:url("../fonts/da020892-1d35-40ca-976e-6e68b94685d986d7.eot?iefix") format("eot");}
@font-face{
font-family:"Memphis LT W01 Light";
src:url("../fonts/da020892-1d35-40ca-976e-6e68b94685d986d7.eot?iefix");
src:url("../fonts/ab8801b5-d808-455c-b64d-2aab6d5da8c6.html") format("woff"),url("../fonts/3aa56af8-1031-4081-bfc6-cf78b1a0eb52.ttf") format("truetype"),url("../fonts/03063333-e21f-4b7a-8a55-b8ae90a52cc1.html#03063333-e21f-4b7a-8a55-b8ae90a52cc1") format("svg");
}
@font-face{
font-family:"MemphisLTW01-LightItali";
src:url("../fonts/2033b7fc-bb39-4651-9ae3-14df23b2ca1a86d7.eot?iefix") format("eot");}
@font-face{
font-family:"MemphisLTW01-LightItali";
src:url("../fonts/2033b7fc-bb39-4651-9ae3-14df23b2ca1a86d7.eot?iefix");
src:url("../fonts/0581c4a6-26a0-4a1a-98d6-9fd6eaa6508c.html") format("woff"),url("../fonts/ae7da065-b4b5-40b5-b304-ab04a5caa89c.ttf") format("truetype"),url("../fonts/f32b20fd-54df-4ad5-827e-85b69d9c9ce2.html#f32b20fd-54df-4ad5-827e-85b69d9c9ce2") format("svg");
}
@font-face{
font-family:"Memphis LT W01 Medium";
src:url("../fonts/652275c3-8e6a-473e-b822-edf1810807ba86d7.eot?iefix") format("eot");}
@font-face{
font-family:"Memphis LT W01 Medium";
src:url("../fonts/652275c3-8e6a-473e-b822-edf1810807ba86d7.eot?iefix");
src:url("../fonts/ff4c6fb5-c122-483a-ba6a-51abbbe506c0.html") format("woff"),url("../fonts/ae865674-e055-4c66-9eda-26f36ed89384.ttf") format("truetype"),url("../fonts/250e4bfd-2af6-4e93-9aca-662a0c86eb66.html#250e4bfd-2af6-4e93-9aca-662a0c86eb66") format("svg");
}
@font-face{
font-family:"MemphisLTW01-MediumItal";
src:url("../fonts/5fec2a47-e6ba-448f-a04b-79b3c716456186d7.eot?iefix") format("eot");}
@font-face{
font-family:"MemphisLTW01-MediumItal";
src:url("../fonts/5fec2a47-e6ba-448f-a04b-79b3c716456186d7.eot?iefix");
src:url("../fonts/f4166571-90ad-421e-9e7b-c132d6cf402a.html") format("woff"),url("../fonts/cc00d49f-df03-487a-a99f-66a0bafefa24.ttf") format("truetype"),url("../fonts/d0ec7df3-2dbf-4b2e-89b4-e10759f2aa8f.html#d0ec7df3-2dbf-4b2e-89b4-e10759f2aa8f") format("svg");
}